@import "./sinon";

html {
    --main-red: #FE5F55;
    --main-white: #F7F7FF;
    --light-blue: #577399;
    --dark-blue: #577399;
    --black: #495867;
    font-family: 'Poppins', sans-serif;
}
  
#homeBody {
    background: var(--main-red);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
h1{ 
    color: var(--main-white);
    margin: 0;
    animation: 1.2s ease-in-out 0s 1 FadeIn;
}
  
svg {
    width: 100px;
    height: 100px;
    align-self: center;
    animation: 1.2s ease-in-out 0s 1 FadeIn;  
    .cls-1{fill:#f7f7ff;}
    .cls-2{fill:#577399;}
}


.loading{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
}

#nav{
    width: 100vw;
    height: 50px;
    opacity: 0.95;
    background: var(--main-red);
    position: absolute;
    flex-direction: row;
    display: flex;
    transition: all ease 500ms;
    svg{
        margin-top: 0px;
        margin-left: -20px;
        margin-right: -20px;
        height: 35px !important;
        cursor: pointer;
    }
    p {
        color: var(--main-white);
        font-weight: bold;
        line-height: 1em ;
        cursor: pointer;
        text-decoration: none;
        a {
            text-decoration: none;
            color: var(--main-white);
        }
    }
    &:hover{
        opacity: 1;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
