@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: 'sunflower';
  src: url("/dist/fonts/made_sunflower-webfont.ttf") format("truetype"), url("/dist/fonts/made_sunflower-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

#sinonBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--main-white);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#sinonBody h1 {
  font-family: 'sunflower', serif;
  color: var(--black);
  font-size: 8em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 100;
  margin: -0.2em;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  #sinonBody h1 {
    font-size: 10vh;
  }
}

#sinonBody iframe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1vw;
  width: 356px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  #sinonBody iframe {
    width: 35.6vh;
    height: 20vh;
    margin: 1vh;
  }
}

.sBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  height: 100vh;
}

.backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.backdrop svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 132px;
}

.backdrop .shape-fill {
  fill: var(--main-red);
}

#sinonVideo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1vw;
  width: 356px;
  height: 200px;
  cursor: pointer;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

@media screen and (max-width: 768px) {
  #sinonVideo {
    width: 35.6vh;
    height: 20vh;
    margin: 1vh;
  }
}

#sinonVideo div {
  height: 100%;
  width: 100%;
}

#sinonVideo img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#lineBreak {
  opacity: 0.1;
  font-size: xx-large;
  margin-bottom: 0%;
  margin-top: .3em;
}

.dropbtn {
  font-family: 'Lato';
  font-weight: bold;
  width: 200px;
  margin: 0.5vw;
  color: var(--main-red);
  border-color: var(--main-red);
  border-radius: 0.5em;
  -webkit-transition: ease 0.2s transform;
  transition: ease 0.2s transform;
  font-size: 1.5em;
  opacity: 0;
  line-height: 0.5;
  padding: .5rem 3rem;
  color: var(--black);
  border: solid 3px transparent;
  background-color: rgba(0, 0, 0, 0);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

.dropbtn sub {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .dropbtn {
    margin: 1vh;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropbtn {
  background: var(--main-red);
  color: var(--main-white);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 3px transparent;
  border-radius: 2em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 5px;
  background-color: #f1f1f1;
  width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

html {
  font-family: 'Poppins', sans-serif;
}

#homeBody {
  background: #FE5F55;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  color: #F7F7FF;
  margin: 0;
  -webkit-animation: 1.2s ease-in-out 0s 1 FadeIn;
          animation: 1.2s ease-in-out 0s 1 FadeIn;
}

svg {
  width: 100px;
  height: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: 1.2s ease-in-out 0s 1 FadeIn;
          animation: 1.2s ease-in-out 0s 1 FadeIn;
}

svg .cls-1 {
  fill: #f7f7ff;
}

svg .cls-2 {
  fill: #577399;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#nav {
  width: 100vw;
  height: 50px;
  opacity: 0.95;
  background: #FE5F55;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

#nav svg {
  margin-top: 0px;
  margin-left: -20px;
  margin-right: -20px;
  height: 35px !important;
  cursor: pointer;
}

#nav p {
  color: #F7F7FF;
  font-weight: bold;
  line-height: 1em;
  cursor: pointer;
  text-decoration: none;
}

#nav p a {
  text-decoration: none;
  color: #F7F7FF;
}

#nav:hover {
  opacity: 1;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/*# sourceMappingURL=index.css.map */