@charset "UTF-8";
#show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a122a;
  height: 100vh;
}

#dashboard {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f1ecff;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-line-pack: normal;
      align-content: normal;
  border-radius: 1rem;
  width: 90%;
  height: 90%;
}

#dashboard ::-moz-selection {
  color: #fbf5eb;
  background: #803cff;
}

#dashboard ::selection {
  color: #fbf5eb;
  background: #803cff;
}

@media only screen and (max-width: 900px) {
  #dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h1, h2, h3, h4 {
  color: #525be1;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  color: #525be1;
  text-shadow: 0px 0px #fbf5eb, 1px 1px #fbf5eb, 2px 2px #fbf5eb, 3px 3px #fbf5eb, 4px 4px #fbf5eb, 5px 5px #fbf5eb;
}

h2 {
  font-size: large;
}

h3 {
  margin-bottom: 1rem;
}

h3 a {
  text-decoration: none !important;
  text-shadow: 2px 2px 0px #fbf5eb;
}

#backlink {
  font-size: 0.7rem;
  color: #803cff;
  font-style: bold;
}

#go {
  background-color: #803cff;
}

#copy {
  background-color: #FF769A;
}

button {
  font-weight: bold;
  font-size: larger;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.collapsible {
  cursor: pointer;
  text-align: center;
  background-color: #525be1;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0rem;
  border-radius: 1rem;
  z-index: 2;
}

.collapsible h2 {
  color: white;
}

.collapsible:hover {
  background-color: #656eeb;
}

.opened {
  background-color: #424242;
}

.opened:hover {
  background-color: #525252;
}

.group {
  background-color: #525be171;
  padding: 3rem 2rem 1rem 2rem;
  border-radius: 1rem;
  margin-top: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#DashTitle {
  background-color: #d4d1ff;
  border-radius: 0rem 2rem 2rem 0rem;
  height: 100%;
  max-width: 50%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  position: relative;
  z-index: 3;
  overflow-y: auto;
}

#DashTitle input {
  padding: 1rem 1.5rem;
  margin-top: 0.2rem;
  border-radius: 1rem;
  background-color: #d4d1ff !important;
  background: white;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  color: #525be1;
  -webkit-box-shadow: inset 0px 0px 0px -60px #FF769A;
          box-shadow: inset 0px 0px 0px -60px #FF769A;
}

#DashTitle input:focus {
  outline: none;
  color: white;
  background-color: rgba(82, 91, 225, 0.5) !important;
  opacity: 1;
}

#DashTitle input p {
  font-style: italic;
  color: #525be1;
  font-size: small;
}

#DashTitle input:hover {
  opacity: 1;
}

#DashTitle ::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}

#DashTitle ::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

#DashTitle input[type='color'] {
  height: 2.5rem;
  padding: 0 !important;
  opacity: 1;
  cursor: pointer;
}

#DashTitle input[type='text']:focus, #DashTitle input[type='number']:focus {
  -webkit-box-shadow: inset 0px -207px 0px -200px #FF769A;
          box-shadow: inset 0px -207px 0px -200px #FF769A;
}

#DashTitle label {
  color: #525be1;
  font-size: large;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0.2rem 0.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#DashTitle label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#DashTitle label span {
  position: relative;
  padding: 0rem 1rem;
  margin: 0 0.5rem;
  background-color: #d4d1ff;
  border-radius: 0.3rem;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#DashTitle label span:after {
  content: '✔';
  position: absolute;
  display: none;
  border: #fbf5eb;
  color: #fbf5eb;
  border-width: 0 0.2rem 0.2rem 0;
}

#DashTitle label:hover input ~ span {
  background-color: #9b82c2;
  -webkit-box-shadow: 0px 0px 3px #fbf5eb inset;
          box-shadow: 0px 0px 3px #fbf5eb inset;
}

#DashTitle label input:checked ~ span {
  background-color: #FF769A;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#DashTitle label input:checked ~ span:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

#DashTitle select {
  margin: 0.4rem 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #d4d1ff;
  opacity: 0.7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #525be1;
  cursor: pointer;
  overflow-y: scroll;
}

#DashTitle select:hover {
  opacity: 1;
  background-color: #525be1;
  color: #fbf5eb;
}

#DashTitle input[type='range'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 0.6rem !important;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  padding: 0.2rem !important;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

#DashTitle input[type='range']:focus ::-webkit-slider-thumb {
  background: white;
}

#DashTitle ::-webkit-slider-runnable-track {
  margin: 0.2rem !important;
}

#DashTitle ::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #803cff;
  cursor: pointer;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#DashTitle input[type="range"]:focus::-webkit-slider-thumb {
  background: #FF769A;
  -webkit-box-shadow: 0px 0px 10px inset rgba(251, 245, 235, 0.5);
          box-shadow: 0px 0px 10px inset rgba(251, 245, 235, 0.5);
}

#DashTitle::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-right: 0.5rem;
  margin: 1rem;
  width: 10px;
  border: 8px solid rgba(0, 0, 0, 0);
}

#DashTitle::-webkit-scrollbar {
  width: 25px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 1rem;
}

#DashTitle::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 8px solid rgba(0, 0, 0, 0);
  background-color: #803cff;
  background-clip: padding-box;
}

#DashTitle input {
  margin-top: 0.4rem;
  background-color: #0a122a !important;
  border-color: #525be1;
  color: #fbf5eb !important;
  opacity: 1;
  -webkit-box-shadow: inset 0px 0px 0px -60px #525be1 !important;
          box-shadow: inset 0px 0px 0px -60px #525be1 !important;
}

#DashTitle input ::-moz-selection {
  background-color: #525be1 !important;
}

#DashTitle input ::selection {
  background-color: #525be1 !important;
}

#DashTitle input:focus {
  background-color: #0a122a !important;
  -webkit-box-shadow: inset 0px -207px 0px -200px #525be1 !important;
          box-shadow: inset 0px -207px 0px -200px #525be1 !important;
}

#DashTitle h2 {
  margin-top: 0.3rem;
}

#DashTitle p {
  color: #0a122a;
  text-align: justify;
  overflow-y: auto;
  padding: 0.2rem 0.2rem 2rem 0;
}

#DashTitle p a {
  color: #803cff;
  text-decoration: underline;
  font-weight: lighter;
}

#DashTitle p code {
  font-family: Monaco, monospace;
  line-height: 100%;
  background-color: #0a122a;
  color: #fbf5eb;
  padding: 0.2rem 0.4rem;
  letter-spacing: -0.05em;
  word-break: normal;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  #DashTitle {
    border-radius: 0rem 0rem 2rem 2rem;
    max-width: 100%;
    max-height: 60vh;
  }
  #DashTitle p {
    max-height: 20vh;
    margin: 1rem 0rem;
    padding: 1rem 1rem 3rem 0rem;
  }
}

#dashOutput {
  width: 100%;
  padding: 0.2rem 2rem;
  margin: 1rem 0rem;
}

.dashInput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.2rem 0rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.dashInput p {
  color: #525be1;
  font-size: small;
  font-style: italic;
  line-height: initial;
  vertical-align: text-bottom;
  padding-left: 0.5rem;
}

.dashInput .colourBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.dashInput .colourBlock p {
  font-style: normal;
  font-weight: normal;
  color: #fbf5eb;
  padding: 0;
  margin-top: -0.2rem;
}

.dashInput .colourBlock .invert {
  color: #0a122a;
}

#dashControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 1.5rem 2rem 1.5rem;
  overflow-y: auto;
  overflow-x: none;
  background-color: #f1ecff;
}

#dashControls::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-right: 0.5rem;
  margin: 1rem;
  width: 10px;
  border: 8px solid rgba(0, 0, 0, 0);
}

#dashControls::-webkit-scrollbar {
  width: 25px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 1rem;
}

#dashControls::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 8px solid rgba(0, 0, 0, 0);
  background-color: #803cff;
  background-clip: padding-box;
}

#dashControls input {
  padding: 1rem 1.5rem;
  margin-top: 0.2rem;
  border-radius: 1rem;
  background-color: #d4d1ff !important;
  background: white;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  color: #525be1;
  -webkit-box-shadow: inset 0px 0px 0px -60px #FF769A;
          box-shadow: inset 0px 0px 0px -60px #FF769A;
}

#dashControls input:focus {
  outline: none;
  color: white;
  background-color: rgba(82, 91, 225, 0.5) !important;
  opacity: 1;
}

#dashControls input p {
  font-style: italic;
  color: #525be1;
  font-size: small;
}

#dashControls input:hover {
  opacity: 1;
}

#dashControls ::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}

#dashControls ::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

#dashControls input[type='color'] {
  height: 2.5rem;
  padding: 0 !important;
  opacity: 1;
  cursor: pointer;
}

#dashControls input[type='text']:focus, #dashControls input[type='number']:focus {
  -webkit-box-shadow: inset 0px -207px 0px -200px #FF769A;
          box-shadow: inset 0px -207px 0px -200px #FF769A;
}

#dashControls label {
  color: #525be1;
  font-size: large;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0.2rem 0.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#dashControls label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#dashControls label span {
  position: relative;
  padding: 0rem 1rem;
  margin: 0 0.5rem;
  background-color: #d4d1ff;
  border-radius: 0.3rem;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#dashControls label span:after {
  content: '✔';
  position: absolute;
  display: none;
  border: #fbf5eb;
  color: #fbf5eb;
  border-width: 0 0.2rem 0.2rem 0;
}

#dashControls label:hover input ~ span {
  background-color: #9b82c2;
  -webkit-box-shadow: 0px 0px 3px #fbf5eb inset;
          box-shadow: 0px 0px 3px #fbf5eb inset;
}

#dashControls label input:checked ~ span {
  background-color: #FF769A;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#dashControls label input:checked ~ span:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

#dashControls select {
  margin: 0.4rem 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #d4d1ff;
  opacity: 0.7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #525be1;
  cursor: pointer;
  overflow-y: scroll;
}

#dashControls select:hover {
  opacity: 1;
  background-color: #525be1;
  color: #fbf5eb;
}

#dashControls input[type='range'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 0.6rem !important;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  padding: 0.2rem !important;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

#dashControls input[type='range']:focus ::-webkit-slider-thumb {
  background: white;
}

#dashControls ::-webkit-slider-runnable-track {
  margin: 0.2rem !important;
}

#dashControls ::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #803cff;
  cursor: pointer;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#dashControls input[type="range"]:focus::-webkit-slider-thumb {
  background: #FF769A;
  -webkit-box-shadow: 0px 0px 10px inset rgba(251, 245, 235, 0.5);
          box-shadow: 0px 0px 10px inset rgba(251, 245, 235, 0.5);
}

@media only screen and (max-width: 900px) {
  #dashControls {
    padding: 1rem 1rem 2rem 1rem;
  }
}

.flex-items:nth-child(1) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
/*# sourceMappingURL=streamtools.css.map */