html{
    font-size: x-large;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#chatBoundary{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.3);
    height: 94vh;
    padding: 0.5rem;
}

img{
    height: 1.1rem;
    margin-bottom: -0.1rem;
}

#chatbox{
    display: inline-block;
    width: max-content;
    max-width: 90vw;
    border-radius: 0.5rem;
    margin: 2.5px 10px 2.5px 10px;
    padding: 5px 15px 5px 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    background-color: #262d36;
    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

$shadow: #2a313b;

@keyframes shadow-pop-br {
    0%{
        box-shadow: 0 0, 0 0, 0 0 , 0 0 , 0 0 , 0 0 , 0 0 , 0 0;
        transform: translateX(0) translateY(0);
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    100% {
        box-shadow: 1px 1px, 2px 2px, 3px 3px, 4px 4px, 5px 5px, 6px 6px, 7px 7px, 8px 8px;
        transform: translateX(-8px) translateY(-8px);
    }
}


#inputGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

#show{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $shadow;
    color: white;
}

input, select{
    width: 70%;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: none;
    border: none;
    text-align: center;
    font-family: 'Poppins';
}

button{
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-family: 'Poppins';
    background-color: #fe938c;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transform: scale(1);
    cursor: pointer;
    &:hover{
        
        transform: scale(1.05);
        box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.19);
    }
    
}

#go{
    background-color: #fe938c;
    &:hover{
        background-color: #fe5f55;
    }
}

#copy{
    background-color: #577399;
    &:hover{
        background-color: #579970;
    }
}

h4 {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    color: #fe5f55;
    margin: 1rem;
}

h2 {
    margin: 0.5rem;
}

a {
    text-decoration: none;
    color: #fe5f55;
}

p {
    margin: 0;
    font-size: 0.5rem;
}


#title{
    margin: 0.8rem;
}


.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 5; }
.div3 { grid-area: 2 / 1 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 5; }
.div5 { grid-area: 3 / 1 / 4 / 3; }
.div6 { grid-area: 3 / 3 / 4 / 5; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }
.div9 { grid-area: 4 / 3 / 5 / 4; }
.div10 { grid-area: 4 / 4 / 5 / 5; }
.div11 { 
    grid-area: 5 / 1 / 6 / 5;
    width: 75%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
/* 
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; display: flex !important;}
.div4 { grid-area: 2 / 2 / 3 / 3; display: flex !important;}
.div5 {grid-area: 3 / 1 / 4 / 2;}
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }
.div9 { grid-area: 5 / 1 / 6 / 2; }
.div10 { grid-area: 5 / 2 / 6 / 3; }
.div11 { grid-area: 6 / 1 / 7 / 2; }
.div12 { grid-area: 6 / 2 / 7 / 3; }
.div13 {
    grid-area: 7 / 1 / 8 / 3; 
    width: 75%;
    flex-direction: column;
    display: flex;
    align-items: center;
} */

@mixin track {
    background: #fe938c;
    border-radius: 1rem;
}

@mixin thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    cursor: pointer;
    background: #f7f7ff;
}

input[type='range'] {
    -webkit-appearance: none;
    background: transparent !important;
    &::-webkit-slider-runnable-track { @include track }
    &::-moz-range-track { @include track }
    &::-ms-track { @include track } 

    &::-webkit-slider-thumb { @include thumb }
    &::-moz-range-thumb { @include thumb }
    &::-ms-thumb {@include thumb}
}

input[type='checkbox'] {
    margin: 0;
    padding: 10px;
}