$main: rgb(226, 194, 147);
$purple: rgb(128, 77, 223);
$green: rgb(67, 148, 67);
$orange: rgb(212, 145, 58);

html{
  overflow: hidden;
}

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

#twordleBody{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $main;
}

#twordle {
  height: 100%;
  max-height: 96vh;
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  //background-color: black;
  padding: 2rem;
  @media only screen and (max-height: '800px' ) {
    padding: 0.5rem;
  }
  border-radius: 1rem;
}


@keyframes popIn {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.num {
  border-color: darken($main, 15);
  border-radius: 2px;
  width: 3.5rem;
  height: 3.5rem;
  font-size: x-large;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-width: 0.2rem;
  transform: scale(0);
  transition: 0.5s all;
  animation-name: popIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@for $i from 1 through 6 {
  @for $j from 1 through 5 {
    #twordle .row:nth-child(#{$i}n) .num:nth-child(#{$j}n) {
      animation-delay: #{($i + $j) * 0.1}s;
    }
  }
}


.row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 0rem;
}

.Title {
  display: flex;
  flex-direction: column;
  button{
    padding: 0rem 0rem;
    margin: 0.3rem 0rem;
    background-color: darken($main, 15);
    cursor: pointer;
  }
  h1 {
    color: $purple;
    text-align: center;
    text-shadow: none;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(255, 255, 255), 2px 2px 0px rgb(255, 255, 255);
  }
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  a {
    text-decoration: underline;
  }
}

.eventbox {
  position: relative;
  background-color: darken($main, 20);
  width: 90%;
  height: auto;
  z-index: 4;
  text-align: center;
  border-radius: 1rem;
  margin: 5%;
  padding: 0 0.5rem;
  transition: 1s all;
  ::selection{
    background-color: $purple;
  }
  h2{
    color: white;
    padding: 0.5rem 1rem;
    font-size: large;
  }
  h1{
    color: white;
    padding: 0.5rem 1rem;
    font-size: x-large;
  }
  h4{
    font-size: small;
    margin-top: -0.7rem;
  }
  button{
    background-color: darken($main, 10);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: 0.2s all;
    width: auto;
    &:hover{
      transform: scale(1.02);
      box-shadow: 0px 0px 10px inset rgba(255, 255, 255, 0.2);
    }
  }
}

input{
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: lighten($main, 10);
  color: $purple;
  transition: 0.5s all;
  outline: none;
  text-align: center;
  &::placeholder{
    color: darken($main,10);
  }
  &:focus{
    border-width: 0;
    color: $purple;
    background-color: white;
  }
}

#voted{
  position: absolute;
  background-color: lighten($main, 10);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  visibility: hidden;
  font-size: smaller;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  color: $purple;
}

.wrong{
  background-color: darken($main,5);
  border-width: 0;
  opacity: 0.6;
}

.correct {
  background-color: $green;
  border-width: 0;
  color: white;
  &:focus{
    background-color: lighten($green, 10);
    color: white;
  }
}

.maybe{
  background-color: $orange;
  border-width: 0;
}

form{
  &:required:focus:invalid {
		border: 1px solid red;
		color: red;
		box-shadow: 0 0 0 1px;
	}
}

#popup{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: fade-out(black, 0.5);
}

@mixin checkmark {
  display: flex;
  position: relative;
  padding: 0.2rem 0.1rem;
  user-select: none;
  cursor: pointer;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  span {
    position: relative;
    padding: 0rem 1rem;
    margin: 0 0.5rem;
    background-color: lighten($main,10);
    border-radius: 0.3rem;
    transition: 0.2s all;
    &:after{
      content: '✔';
      position: absolute;
      display: none;
      border: white;
      color: white;
      border-width: 0 0.2rem 0.2rem 0;
    }
  }
  &:hover{
    input ~ span{
      background-color: lighten($main, 15);
      box-shadow: 0px 0px 3px white inset;
    }
  }
  input:checked ~ span {
    background-color: darken($main,5);
    justify-content: center;
    display: flex;
    align-content: center;
    &:after{
      display: flex;
      align-self: center;
      justify-self: center;
    }
  }  
}

#innerPopUp {
  width: auto;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main;
  padding: 2rem;
  color: white;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  @media screen and (max-width: 900px) {
    padding: 0.5rem;
  }
  color: white;
  div {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    input{ 
      width: 5rem;
    }
  }
  input{
    padding: 0.5rem;
    margin: 0.5rem;
  }
  label{
    @include checkmark;
    padding-right: 0.3rem;
  }
  h1{
    color: $purple;
    font-weight: bold;
    font-size: larger;
  }
  button{
    background-color: darken($main, 10) !important;
    width: max-content;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
  }
}

#howTo{
  text-align: left !important;
  width: 100%;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  border-radius: 1rem;
  overflow-y: auto;
  color: darken($main, 40) ;
  font-size: 20px;
  background-color: $main;
  padding: 2rem;
  code{
    background-color: #232323;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    margin: 0rem 0.2rem;
    color: white;
  }
  h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  button{
    background-color: darken($main, 10) !important;
    width: max-content;
    color: white;
    padding: 0.5rem 2rem;
    margin: 1rem;
    border-radius: 1rem;
  }
  span{
    width: 4rem !important;
    height: 4rem !important;
    margin: 1rem;
    background-color: red;
  }
}

#boxbox{
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  span{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-width: 4px;
    border-color: lighten($main, 15);
  }
  :nth-child(1){
    background-color: darken($main, 10);
  }
  :nth-child(2){
    background-color: $orange;
  }
  :nth-child(3){
    background-color: $green;
  }
}

#toast{
  background-color: $green;
  color: white;
  position: absolute;
  padding: 0rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  z-index: 10;
  transition: cubic-bezier(0.34, 1.56, 0.64, 1) 0.3s all;
}